.s_main_1 {
    margin: 0% auto;
    width: 80%;
    text-align: center;
    color: #fff;
  }
  .s_main_1 p {
    margin: 0;
    font-size: 5rem;
    color: #f00;
    font-family: "Yesteryear", Arial, Helvetica;
    transform: rotate(356deg);
  }
  .s_main_1 h2 {
    margin: 0;
    font-size: 11rem;
    letter-spacing: -10px;
    text-transform: uppercase;
  }
  .s_main_1 i {
    font-size: 3rem;
    font-style: normal;
    font-family: "Teko", Arial, Helvetica;
  }
  .s_main_1 span {
    font-size: 2.2rem;
  }
  .s_main_1 h3 {
    font-size: 4rem;
    font-family: "Graduate", Arial, Helvetica;
  }
  .s_main_1 div {
    margin-top: 5%;
  }
  .s_main_1 div a {
    font-family: "Teko", Arial, Helvetica;
    font-size: 2.4rem;
    background-color: #f00;
    border-radius: 30px;
    color: #fff;
    padding: 1% 3%;
  }
  .s_main_2 {
    margin: 0 auto;
    width: 80%;
  }
  .s_main_3 {
    margin: 0 auto;
    width: 80%;
    color: #fff;
  }



















  
  .form_1 {
    color: #fff;
    font-size: 1.4rem;
  }
  .form_1 ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3% 0 1% 0;
  }
  .form_1 ul li {
    width: 50%;
  }
  .form_1 label {
    display: block;
  }
  .form_1 input {
    margin: 0;
    /* width: 100%; */
  }
  .form_1 ul li label {
    margin-bottom: 1%;
  }
  .form_1 ul li input {
    width: 80%;
    padding: 2%;
    margin-bottom: 5%;
  }
  .form_1 ul li:nth-of-type(5){
    width: 100%;
  }
  .form_1 ul li:nth-of-type(6) {
    margin-top: 10%;
  }
  .form_1 ul li:nth-of-type(6) input {
    border-radius: 30px;
    width: 20%;
    padding:3%;
  }
  .s_main_3 span {
    font-size: 1.76rem;
  }
  .s_main_3 h1 {
    font-size: 28rem;
  }
  .s_main_3 ul li {
    width: 50%;
  }